
<br><br>
<div id="main-wrapper" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="mb-5">
                  <h1 class="h4 font-weight-bold text-theme text-center">Login</h1>
                </div>

                <h6 class="h5 mb-0 text-center">Welcome back!</h6>
                <p class="text-muted mt-2 mb-5 text-center">Enter your email address and password.</p>

                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="form-group mb-5">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button type="submit" class="btn btn-theme">Login</button>
                  <a href="login" class="forgot-link float-right text-primary">Forgot password?</a>
                </form>
              </div>
            </div>

            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <p class="lead text-white">"Lamoda is one of the largest online stores in Russia and the CIS. Since 2014, it has been part of the Global Fashion Group.In 2011, the Lamoda online store was opened and its own LM Express courier service was launched in Moscow.In 2012, Lamoda was launched in Kazakhstan (Lamoda.kz), where it became the first online retailer."</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->

      <br><br>
      <!-- end row -->

    </div>
    <!-- end col -->
  </div>
  <!-- Row -->
</div>

