<div>
  <nav class="navbar navbar-dark bg-dark">
  </nav>
</div>>
<div style="width: 90%;margin-left: auto;
  margin-right: auto;" id="carouselExampleSlidesOnly" class="center carousel slide " data-ride="carousel">
  <h2 class="text-center" style="font-family: 'Acme', sans-serif;" >Men clothes</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/69/1c/ce/691cce239f8c130d94e2eaa6e6d3e3ed.jpg" class="d-block w-100" style="width: auto; height: auto" alt="...">
    </div>
  </div>
</div>




<div class="container mt-5">
  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="row">
        <!--Start slider news-->
        <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">

        </div>
        <h2 class="text-center" style="font-family: 'Acme', sans-serif;" >Choose your clothes</h2>
        <div class="col-12 col-md-14 pt-2 pl-md-0 mb-6 mb-lg-1">
          <div class="row">
            <!--news box-->
            <div class="col-6 pb-1 pt-0 pr-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                  </div>
                </div>
              </div>
            </div>

            <select class="form-select form-select-lg mb-2" aria-label=".form-select-lg example">
              <option selected>Summer clothes</option>
              <option value="1">The upper part of the</option>
              <option value="2">Lower part</option>
              <option value="3">Shoes</option>
            </select>

            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Winter clothes</option>
              <option value="1">The upper part of the</option>
              <option value="2">Lower part</option>
              <option value="3">Shoes</option>
            </select>

          </div>
        </div>
        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>
  <!--end code-->
</div>

<hr>
<div class="" style="margin-left: 5%; width:90% ">
  <h2 class="text-center" style="font-family: 'Acme', sans-serif;" >Popular men's clothing</h2>
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://elis.ru/upload/iblock/5eb/Lookbook_men_1.jpg" >
          </a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Classical style</a></h3>
          <div class="price text-center">from 55.000tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://elis.ru/upload/iblock/428/men-sayt-1.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Jackets</a></h3>
          <div class="price text-center">for 14.000tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://cf-product.clouty.ru/link_aHR0cHM6Ly93d3cucmVuZGV6LXZvdXMucnUvZmlsZXMvY2F0YWxvZ19pbWFnZXMvcmVzaXplXzM3NngyNTYvMS8xODE3MjY0X2JvdGlua2lfYm9jYWdlX3JlbmF1ZF9jaGVybnl5X2tvemhhX25hdHVyYWxfbmF5YV80LkpQRw==">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Shoes</a></h3>
          <div class="price text-center">for 45.990tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://static2.issaplus.com/wa-data/public/photos/10/43/4310/4310.970.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Set for young people</a></h3>
          <div class="price text-center">for 77.990tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://fashionapp.ru/wp-content/uploads/fly-images/7712/s-chem-nosit-muzhskoj-kardigan5-330x330-c.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Cardigans for men</a></h3>
          <div class="price text-center">for 9990tg</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="" style="width: 100%;margin-left: -2%">
</div>
<div class="album py-5 mt-3">
</div>


